<?xml version="1.0" encoding="utf-8"?>
<!-- Stateus icon acquired from https://www.fatcow.com/free-icons (keyboard_magnify) -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Polling-Rate" value="5" />
    <add key="Display-Info" value="True" />
  </appSettings>
</configuration>